[
    {
    "labels": {
        "alertname": "TEST",
        "severity": "critical",
        "namespace": "test-namespace",
        "job": "test-job",
        {{- range $key, $value := .Labels }}
        "{{ $key }}": "{{ $value }}",
        {{- end }}
        "instance": "test-instance"
    },
    "annotations": {
        "summary": "summary of the alert",
        "description": "Test alert"
    },
    "startsAt": "{{ .StartDate }}",
    "endsAt": "{{ .EndDate }}"
    }
]
